bin/Debug/net8.0/ProjectEuler.deps.json
bin/Debug/net8.0/ProjectEuler.dll
bin/Debug/net8.0/ProjectEuler.exe
bin/Debug/net8.0/ProjectEuler.pdb
bin/Debug/net8.0/ProjectEuler.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/ProjectEuler.csproj.nuget.dgspec.json
obj/ProjectEuler.csproj.nuget.g.props
obj/ProjectEuler.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ProjectEuler.AssemblyInfo.cs
obj/Debug/net8.0/ProjectEuler.AssemblyInfoInputs.cache
obj/Debug/net8.0/ProjectEuler.assets.cache
obj/Debug/net8.0/ProjectEuler.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/ProjectEuler.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/ProjectEuler.csproj.FileListAbsolute.txt
obj/Debug/net8.0/ProjectEuler.dll
obj/Debug/net8.0/ProjectEuler.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/ProjectEuler.genruntimeconfig.cache
obj/Debug/net8.0/ProjectEuler.GlobalUsings.g.cs
obj/Debug/net8.0/ProjectEuler.pdb
obj/Debug/net8.0/ProjectEuler.sourcelink.json
obj/Debug/net8.0/ref/ProjectEuler.dll
obj/Debug/net8.0/refint/ProjectEuler.dll
